.header {

  .header-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    .header-text {
      font-size: 62px;
      font-weight: 800;
      line-height: 75px;
      padding-left: 1.5rem;
      letter-spacing: -0.04em;
    }
    .header-subtext {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      padding-left: 1.5rem;
      color: var(--color-text);
      margin-top: 1rem;
    }
    @media screen and (max-width: 576px) {
      .header-text {
        font-size: 42px;
        line-height: 55px;
      }
      .header-subtext {
        font-size: 17px;
        line-height: 24px;
        margin-top: 0rem;
      }
    }
    .header-buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      justify-content: center;
      align-items: center;
      .cta-button {
        background-color: rgb(255, 72, 0)!important;
        color: white!important;
        padding: 0.45rem 1rem 0.45rem 1rem!important;
        border-radius: 0.6rem!important;
        margin-right: 0.2rem!important;
        width: 100%;
        height: 100%;
      }
      .long-button {
        padding: 0.45rem 0.9rem 0.45rem 0.9rem;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        width: 100%;
        p {
          word-wrap: wrap;
          width: 100%;
          text-align: center;
          padding-top: 0.5rem;
          font-weight: 400;
          font-size: 1rem;
        }
        img {
          width: 2rem;
          height: 2rem;
          margin-right: 0.8rem;
        }
      }
      .header-cta{
        width: 100%;
        .header-firm {
          background-color: white;
        }
      }
      .header-network{
        width: 100%;
        .header-food {
          background-color: white;
        }
      }
    }

  }
  .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      margin-top: 3rem;
    }
    @media screen and (max-width: 992px) {
      img {
        width: 70%;
        height: 70%;

      }
    }
  }
}
