<div id="home" class="header">
  <div class="row">
    <div class="col-xl-8 col-lg-7 col-12">
      <div class="header-content">
        <h1 class="gradient__text header-text">Who am i ?</h1>
        <p class="header-subtext">A developer who does not fall into the usual code, Ready to make life better and easier!</p>

        <div class="header-buttons">
          <div class="header-cta">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-3 col-12" style="margin-bottom: 1rem; text-align: center;">
                <button mat-raised-button type="button"  class="cta-button"><a href="#contact">Contact me!</a></button>
              </div>
              <div class="col-xl-9 col-lg-8 col-md-9 col-12" style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center;">
                <div class="header-firm long-button">
                  <img src="../../../assets/fluxsolve.png" href="https://www.fluxsolve.com/" target="#" />
                  <p><a href="https://www.fluxsolve.com/" target="#">My software consulting company</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="header-network">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-3 col-12" style="margin-bottom: 1rem; text-align: center;">
                <button mat-raised-button type="button" class="cta-button"><a href="#portfolio">See my projects</a></button>
              </div>
              <div class="col-xl-9 col-lg-8 col-md-9 col-12" style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center;">
                <div class="header-food long-button">
                  <img src="../../../assets/goldenLaurel.png" href="https://godmenu-db556.web.app/" target="#" />
                  <p><a href="https://godmenu-db556.web.app/" target="#">Join my Nutrition Planning Network</a></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5 col-12">
      <div class="header-image">
        <img src="../../../assets/profilepicture.jpg" />
      </div>
    </div>
  </div>
</div>
